/*Desktop View*/
.header {
    display: flex;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    position: fixed;
    z-index:999;
    width: 100%;
    padding: 0px 40px;
    margin: 0px;
    height: 80px;
  }

  * {
    margin: 0;
    font-family: 'Baloo 2', cursive;
    font-family: 'Poppins', sans-serif;
  }
  a{
      text-decoration: none;
      color: white;
  }

  .logo-nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img{
      cursor: pointer;
  }
  .logo-nav {
    margin-right: 10%;
  }
  .nav-options {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 200px;
    list-style-type: none;
  }
  .mobile-option {
    display: none;
  }

  .option :hover {
    color:teal;
  }
  .option:active{
      color: teal;
  }

  .mobile-menu {
    display: none;
  }
  @media (max-width: 648px) {
    /*Mobile View */
    .header {
      padding: 0px 10px;
    }
    .logo {
      width: 45px;
      height: 45px;
    }
    .nav-options {
      display: flex;
      width: 100%;
      height: 350px;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 0;
      transition: all 0.5s ease;
      flex-direction: column;
      list-style-type: none;
      grid-gap: 0px;
    }
    .nav-options.active {
        background: #141E30;
    background: -webkit-linear-gradient(to bottom, #243B55, #141E30);  
    background: linear-gradient(to bottom, #243B55, #141E30); 
        
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
      align-content: center;
      padding-left: 0px;
    }
  
    .menu-icon {
      width: 45px;
      height: 45px;
    }
    .option {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 10vw;
      padding: 30px 0px;
    }
  }
  .mobile-menu {
    display: block;
  }


  